@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0F4C81;
  color: #fff;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 200;
  padding: 10px 0px;
}
